---
layout: default
---

<div class="home">

    <h1>{{ site.course_name }} <span style="font-size: 20px;color: #0006;"> {{ site.course_semester }} </span></h1>

    {% include announcements.html %}
    <br />

    <h2>Course Information</h2>
    
    <p> The course will provide extensive grounding in machine learning models and its utility to make predictions. The course will go over the mathematical foundations and real world applications of machine learning. The course will slowly move over the topics like prediction and classification problems, kernel methods, generative modeling, probability theory, optimization theory, representation learning, neural networks, and many more. In process, the course would teach some of the limitations of machine learning and how to augment them with better methods.</p>

    <p> Slides, materials, and project information for this iteration of machine learning course are borrowed from Andrew Ng, Sanjoy Dasgupta, Tom Mitchell, Maria-Florina Balcan, Hal Daume III, Trevor Hastie, and Robert Tsibrani</p>

    <!-- http://www.cs.cmu.edu/~ninamf/courses/601sp15/lectures.shtml -->
    <!-- https://web.stanford.edu/class/cs129/ -->
    
    <p>{{ site.course_description }}</p>
    
    {{ content }}

   
     
    <br>
    <div>
        
       <div style="width:50%; float: left">
            <div class="profile-pic-gallary ">
                <h2>Course Instructor</h2>
                {% for ta in site.data.people.teaching_assistants %}
                <div class="image--cover-container">
                    <img src="{{ta.profile_pic | prepend: site.baseurl }}" class="image--cover">
                    {% if ta.webpage %}
                    <p><a href="{{ ta.webpage }}">{{ta.name}}</a></p>
                     {% else %}
                    <p>{{ta.name}}</p>
                    {% endif %}
                    
                </div>
                {% endfor %}
                      
            </div>  
                    <p> Admitted students should directly email Alex. 
                        We welcome students from a range of multidisciplinary backgrounds, including Chemical Engineering and Biomedical Engineering,
                        as well as students from other departments such as Mechanical Engineering and Electrical Engineering affiliated with the 
                        interdisciplinary bioengineering program. Inquiries should be sent to (alexgabramson at gmail dot com) and should
                        include "Prospective PhD: Abramson Lab" in the subject line. </p>

               
           
        </div>
        
        
        <div style="width:50%; float: left">
            <div class="profile-pic-gallary ">
                <h2>Undergraduates</h2>
                {% for ta in site.data.people.teaching_assistants %}
                <div class="image--cover-container">
                    <img src="{{ta.profile_pic | prepend: site.baseurl }}" class="image--cover">
                    {% if ta.webpage %}
                    <p><a href="{{ ta.webpage }}">{{ta.name}}</a></p>
                    {% else %}
                    <p>{{ta.name}}</p>
                    {% endif %}
                    
                     
                {% endfor %}
            </div>
                
                <p> Admitted students should directly email Alex. 
                        We welcome students from a range of multidisciplinary backgrounds, including Chemical Engineering and Biomedical Engineering,
                        as well as students from other departments such as Mechanical Engineering and Electrical Engineering affiliated with the 
                        interdisciplinary bioengineering program. Inquiries should be sent to (alexgabramson at gmail dot com) and should
                        include "Prospective PhD: Abramson Lab" in the subject line. </p>
                </div>
        </div>
        
        
       <div style="width:50%; float: left">
            <div class="profile-pic-gallary ">
                <h2>Visiting Research Scholars</h2>
                {% for ta in site.data.people.teaching_assistants %}
                <div class="image--cover-container">
                    <img src="{{ta.profile_pic | prepend: site.baseurl }}" class="image--cover">
                    {% if ta.webpage %}
                    <p><a href="{{ ta.webpage }}">{{ta.name}}</a></p>
                    {% else %}
                    <p>{{ta.name}}</p>
                    {% endif %}
                    
                    
                </div>
                {% endfor %}
            </div>
           
           
                     <p> Admitted students should directly email Alex. 
                        We welcome students from a range of multidisciplinary backgrounds, including Chemical Engineering and Biomedical Engineering,
                        as well as students from other departments such as Mechanical Engineering and Electrical Engineering affiliated with the 
                        interdisciplinary bioengineering program. Inquiries should be sent to (alexgabramson at gmail dot com) and should
                        include "Prospective PhD: Abramson Lab" in the subject line. </p>
        </div>
        
        
        

        <div style="width:50%; float: left">
            <div class="profile-pic-gallary ">
                <h2>Teaching Assistants</h2>
                {% for ta in site.data.people.teaching_assistants %}
                <div class="image--cover-container">
                    <img src="{{ta.profile_pic | prepend: site.baseurl }}" class="image--cover">
                    {% if ta.webpage %}
                    <p><a href="{{ ta.webpage }}">{{ta.name}}</a></p>
                    {% else %}
                    <p>{{ta.name}}</p>
                    {% endif %}
                    
                    
                </div>
                {% endfor %}
            </div>
            
             <p> Admitted students should directly email Alex. 
                        We welcome students from a range of multidisciplinary backgrounds, including Chemical Engineering and Biomedical Engineering,
                        as well as students from other departments such as Mechanical Engineering and Electrical Engineering affiliated with the 
                        interdisciplinary bioengineering program. Inquiries should be sent to (alexgabramson at gmail dot com) and should
                        include "Prospective PhD: Abramson Lab" in the subject line. </p>
        </div>
        
        <!--Uncomment if want instructor on page>
        <!--div style="width:45%; float: left">
            <!-- <h2>Instructors</h2> -->
            <!-- <div class="image--cover-container">
                <img src="{{site.data.people.instructor.profile_pic | prepend: site.baseurl }}" class="image--cover">
                <p>{{site.data.people.instructor.name}}</p>
            </div> -->

            <!--div class="profile-pic-gallary ">
                <h2>Instructors</h2>
                {% for ins in site.data.people.instructors %}
                <div class="image--cover-container">
                    <img src="{{ins.profile_pic | prepend: site.baseurl }}" class="image--cover">
                    {% if ins.webpage %}
                    <p><a href="{{ ins.webpage }}">{{ins.name}}</a></p>
                    {% else %}
                    <p>{{ins.name}}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>-->
        
        
    </div>
</div>
